<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleAllowMixedLocalizations</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleExecutable</key>
		<string>StormText</string>
		<key>CFBundleIconFile</key>
		<string>app-icon~mac.png</string>
		<key>CFBundleIconFiles</key>
		<array>
			<string>app-icon~mac.png</string>
			<string>app-icon-16@2x~mac.png</string>
			<string>app-icon-32~mac.png</string>
			<string>app-icon-32@2x~mac.png</string>
			<string>app-icon-128~mac.png</string>
			<string>app-icon-128@2x~mac.png</string>
			<string>app-icon-256~mac.png</string>
			<string>app-icon-256@2x~mac.png</string>
			<string>app-icon-512~mac.png</string>
			<string>app-icon-512@2x~mac.png</string>
		</array>
			<key>CFBundleDocumentTypes</key>
			<array>
				<dict>
					<key>CFBundleTypeName</key>
					<string>AVS source file</string>
					<key>CFBundleTypeIconFile</key>
					<string>avs</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>avs</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Bash shell</string>
					<key>CFBundleTypeIconFile</key>
					<string>sh</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sh</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Bash commands</string>
					<key>CFBundleTypeIconFile</key>
					<string>bash</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>bash</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Typical Windows Batch command</string>
					<key>CFBundleTypeIconFile</key>
					<string>bat</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>bat</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Windows NT and OS-2 Batch command</string>
					<key>CFBundleTypeIconFile</key>
					<string>cmd</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>cmd</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Old-styled Batch command</string>
					<key>CFBundleTypeIconFile</key>
					<string>btm</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>btm</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>CMake List</string>
					<key>CFBundleTypeIconFile</key>
					<string>cmakelists.txt</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>CMakeLists.txt</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>CMake Cache</string>
					<key>CFBundleTypeIconFile</key>
					<string>cmakecache.txt</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>CMakeCache.txt</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>CoffeeScript source</string>
					<key>CFBundleTypeIconFile</key>
					<string>coffee</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>coffee</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>CoffeeScript literal programming source</string>
					<key>CFBundleTypeIconFile</key>
					<string>litcoffee</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>litcoffee</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>C source</string>
					<key>CFBundleTypeIconFile</key>
					<string>c</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>c</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>C header</string>
					<key>CFBundleTypeIconFile</key>
					<string>h</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>h</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>C++ ARM-compiler source</string>
					<key>CFBundleTypeIconFile</key>
					<string>ii</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>ii</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>C++ source</string>
					<key>CFBundleTypeIconFile</key>
					<string>cpp</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>cpp</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>C++ new source</string>
					<key>CFBundleTypeIconFile</key>
					<string>cxx</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>cxx</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>C++ header</string>
					<key>CFBundleTypeIconFile</key>
					<string>hpp</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>hpp</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>C++ new header</string>
					<key>CFBundleTypeIconFile</key>
					<string>hxx</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>hxx</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>C# source</string>
					<key>CFBundleTypeIconFile</key>
					<string>cs</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>cs</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>CSS source</string>
					<key>CFBundleTypeIconFile</key>
					<string>css</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>css</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>D source</string>
					<key>CFBundleTypeIconFile</key>
					<string>d</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>d</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Diff file</string>
					<key>CFBundleTypeIconFile</key>
					<string>diff</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>diff</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>EDIFACT file</string>
					<key>CFBundleTypeIconFile</key>
					<string>edifact</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>edifact</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Fortran 90 source</string>
					<key>CFBundleTypeIconFile</key>
					<string>f90</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>f90</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Fortran 95 source</string>
					<key>CFBundleTypeIconFile</key>
					<string>f95</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>f95</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Fortran 2003 source</string>
					<key>CFBundleTypeIconFile</key>
					<string>f03</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>f23</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Fortran source</string>
					<key>CFBundleTypeIconFile</key>
					<string>f</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>f</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Fortran new source</string>
					<key>CFBundleTypeIconFile</key>
					<string>for</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>for</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Fortran 77 source</string>
					<key>CFBundleTypeIconFile</key>
					<string>f77</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>f77</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>HTML file</string>
					<key>CFBundleTypeIconFile</key>
					<string>html</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>html</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>HTML old file</string>
					<key>CFBundleTypeIconFile</key>
					<string>htm</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>htm</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>HTML bundled</string>
					<key>CFBundleTypeIconFile</key>
					<string>mhtml</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>mhtml</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>HTML source</string>
					<key>CFBundleTypeIconFile</key>
					<string>shtml</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>shtml</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>IDL file</string>
					<key>CFBundleTypeIconFile</key>
					<string>idl</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>idl</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Java source</string>
					<key>CFBundleTypeIconFile</key>
					<string>java</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>java</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>JavaScript sources</string>
					<key>CFBundleTypeIconFile</key>
					<string>js</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>js</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Node.js index file</string>
					<key>CFBundleTypeIconFile</key>
					<string>node.js</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>node.js</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>JSON file</string>
					<key>CFBundleTypeIconFile</key>
					<string>json</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>json</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Lua source</string>
					<key>CFBundleTypeIconFile</key>
					<string>lua</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>lua</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Unix Makefile files</string>
					<key>CFBundleTypeIconFile</key>
					<string>makefile</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>make</string>
						<string>makefile</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Windows Makefile files</string>
					<key>CFBundleTypeIconFile</key>
					<string>make</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>make</string>
						<string>makefile</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>GitHub dialect markdown file</string>
					<key>CFBundleTypeIconFile</key>
					<string>md</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>md</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>CommonMark dialect markdown file</string>
					<key>CFBundleTypeIconFile</key>
					<string>commonmark</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>commonmark</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Markdown file</string>
					<key>CFBundleTypeIconFile</key>
					<string>markdown</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>markdown</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Matlab mex source</string>
					<key>CFBundleTypeIconFile</key>
					<string>mex</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>mex</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Matlab mat source</string>
					<key>CFBundleTypeIconFile</key>
					<string>mat</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>mat</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Matlab app</string>
					<key>CFBundleTypeIconFile</key>
					<string>mlx</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>mlx</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Matlab mlapp</string>
					<key>CFBundleTypeIconFile</key>
					<string>mlapp</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>mlapp</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Octave source</string>
					<key>CFBundleTypeIconFile</key>
					<string>octave</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>octave</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Pascal sources</string>
					<key>CFBundleTypeIconFile</key>
					<string>pas</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pas</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Pascal old source</string>
					<key>CFBundleTypeIconFile</key>
					<string>pp</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pp</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Perl source</string>
					<key>CFBundleTypeIconFile</key>
					<string>pl</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pl</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Perl new source</string>
					<key>CFBundleTypeIconFile</key>
					<string>plx</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>plx</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Perl pm source</string>
					<key>CFBundleTypeIconFile</key>
					<string>pm</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pm</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>GNU/gettext project-object language file</string>
					<key>CFBundleTypeIconFile</key>
					<string>po</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>po</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>PostScript source</string>
					<key>CFBundleTypeIconFile</key>
					<string>ps</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>ps</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>POV source</string>
					<key>CFBundleTypeIconFile</key>
					<string>pov</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pov</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>POV-Ray source</string>
					<key>CFBundleTypeIconFile</key>
					<string>povray</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>povray</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Property Specification Language</string>
					<key>CFBundleTypeIconFile</key>
					<string>psl</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>psl</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python script</string>
					<key>CFBundleTypeIconFile</key>
					<string>py</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>py</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python 2 specified script</string>
					<key>CFBundleTypeIconFile</key>
					<string>py2</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>py2</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python 3 specified script</string>
					<key>CFBundleTypeIconFile</key>
					<string>py3</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>py3</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python no-console script</string>
					<key>CFBundleTypeIconFile</key>
					<string>pyw</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pyw</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python object file</string>
					<key>CFBundleTypeIconFile</key>
					<string>pyo</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pyo</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python PyPy interpreter script</string>
					<key>CFBundleTypeIconFile</key>
					<string>pypy</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pypy</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python pip installation file</string>
					<key>CFBundleTypeIconFile</key>
					<string>egg</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>egg</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python pip installation information file</string>
					<key>CFBundleTypeIconFile</key>
					<string>egg-info</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>egg-info</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python PyInstaller specificational file</string>
					<key>CFBundleTypeIconFile</key>
					<string>spec</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>spec</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python binary module file</string>
					<key>CFBundleTypeIconFile</key>
					<string>pyd</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pyd</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Python-Jupyter notebook file</string>
					<key>CFBundleTypeIconFile</key>
					<string>ipynb</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>ipynb</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Ruby script</string>
					<key>CFBundleTypeIconFile</key>
					<string>rb</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>rb</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Ruby file</string>
					<key>CFBundleTypeIconFile</key>
					<string>ruby</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>ruby</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Ruby gem installation file</string>
					<key>CFBundleTypeIconFile</key>
					<string>gem</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>gem</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Spice source</string>
					<key>CFBundleTypeIconFile</key>
					<string>spice</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>spice</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Spice-p source</string>
					<key>CFBundleTypeIconFile</key>
					<string>pspice</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>pspice</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL 86 script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql86</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql86</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL 92 script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql92</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql92</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL 1999 script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql99</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql99</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL 2003 script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql03</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql03</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL 2006 script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql06</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql06</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL 2008 script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql08</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql08</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL 2011 script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql11</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql11</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL 2016 script</string>
					<key>CFBundleTypeIconFile</key>
					<string>sql16</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sql16</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SQL database management kit file</string>
					<key>CFBundleTypeIconFile</key>
					<string>sqldata</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>sqldata</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>TCL source</string>
					<key>CFBundleTypeIconFile</key>
					<string>tcl</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>tcl</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>TCL compiler kit file</string>
					<key>CFBundleTypeIconFile</key>
					<string>tbc</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>tbc</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>TeX file</string>
					<key>CFBundleTypeIconFile</key>
					<string>tex</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>tex</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Verilog source</string>
					<key>CFBundleTypeIconFile</key>
					<string>v</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>v</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Verilog header</string>
					<key>CFBundleTypeIconFile</key>
					<string>vh</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>vh</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>VHDL file</string>
					<key>CFBundleTypeIconFile</key>
					<string>vhd</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>vhd</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>XML file</string>
					<key>CFBundleTypeIconFile</key>
					<string>xml</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>xml</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SVG graphics file - XML notational</string>
					<key>CFBundleTypeIconFile</key>
					<string>svg</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>svg</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>SVG new graphics file</string>
					<key>CFBundleTypeIconFile</key>
					<string>svgx</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>svgx</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Apple macOS information file</string>
					<key>CFBundleTypeIconFile</key>
					<string>plist</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>plist</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>XML-notational dictional string file</string>
					<key>CFBundleTypeIconFile</key>
					<string>string</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>string</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Qt resources file</string>
					<key>CFBundleTypeIconFile</key>
					<string>qrc</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>qrc</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Resources file</string>
					<key>CFBundleTypeIconFile</key>
					<string>rc</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>rc</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>Qt Creator UI design file</string>
					<key>CFBundleTypeIconFile</key>
					<string>ui</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>ui</string>
					</array>
				</dict>
				<dict>
					<key>CFBundleTypeName</key>
					<string>YAML file</string>
					<key>CFBundleTypeIconFile</key>
					<string>yml</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSTypeIsPackage</key>
					<false/>
					<key>CFBundleTypeExtensions</key>
					<array>
						<string>yml</string>
					</array>
				</dict>
			</array>
		<key>CFBundleIdentifier</key>
		<string>org.BrightSoftwareFoundation.StormText</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>org.BrightSoftwareFoundation.StormText</string>
		<key>CFBundleShortVersionString</key>
                <string>1.0.0</string>
		<key>CFBundleVersion</key>
                <string>1.0</string>
		<key>LSMinimumSystemVersion</key>
		<string>11.0</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>NSSupportsAutomaticGraphicsSwitching</key>
		<true/>
	</dict>
</plist>
